**/.idea/
**/.vscode/
**/target/
**/.classpath
**/.project
**/.settings/
**/*.class
**/*.jar
**/*.war
**/*.ear
*.iml
*.iws
*.ipr
.DS_Store
.env
.env.local
logs/
*.log
node_modules/
dist/
build/
.gradle/
.next/
out/
.jenv
.rbenv-version
*.orig
