spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Account Service Route
        - id: account-service
          uri: lb://account-service
          predicates:
            - Path=/accounts/**
          filters:
            - RewritePath=/accounts(?<remainder>.*), /account-service/api/v1/accounts$\{remainder}

        # Transfer Service Route
        - id: transfer-service
          uri: lb://transfer-service
          predicates:
            - Path=/transfers/**
          filters:
            - RewritePath=/transfers(?<remainder>.*), /transfer-service/api/v1/transfers$\{remainder}

        # Notification Service Route
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**
          filters:
            - RewritePath=/notifications(?<remainder>.*), /notification-service/api/v1/notifications$\{remainder}

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${random.value}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    com.bankingledger: DEBUG
